%h1 Context Menu

:coffeescript
  $('html').on 'contextmenu', (e) ->
    $('.context_menu').remove()

    e.preventDefault()

    view = new Boner.Views.Menu
      event: e
      items:
        rename: ->
          alert 'renaming'
        delete: ->
          alert 'deleting'

    $('html').append(view.render().el)
